.env
/resources
resources/application.properties
aplication.properties
*/resources
*.env
minha_chave_chatgpt_spring.txt
*minha_chave_chatgpt_spring.txt
*/minha_chave_chatgpt_spring.txt

backEndJava/formacao_java_e_spring_framework/6_challgenge_forum_alura/forumhub
frontEnd/6-challenge-desafio1-decodificador/angular-app-decodificador

*/backEndJava/formacao_java_e_spring_framework/6_challgenge_forum_alura/forumhub
*/frontEnd/6-challenge-desafio1-decodificador/angular-app-decodificador

/backEndJava/formacao_java_e_spring_framework/6_challgenge_forum_alura/forumhub
/frontEnd/6-challenge-desafio1-decodificador/angular-app-decodificador
